<img src="/images/author.jpg" id="img_author"/>
<p id="datos_author">
	<b>Nombre:</b><%= nombre %><br>
	<b>Apellidos:</b><%= apellidos %><br>
	<b>Edad:</b><%= edad %> años<br>
	<b>Nacionalidad</b><%= pais %><br>
	<b>Población:</b><%= ciudad %><br>
</p>
