<p id="estadisticas">
	<b>Número de preguntas:</b><%= num_preguntas %><br>
	<b>Número de comentarios totales:</b><%= total_comentarios %><br>
	<b>Número medio de comentarios por pregunta:</b><%= comentarios_media %><br>
	<b>Número de preguntas sin comentarios:</b><%= preguntas_sin %><br>
	<b>Número de preguntas con comentarios:</b><%= preguntas_con %><br>
</p>
